@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 163, 74, 1) 35%,
    rgba(163, 230, 53, 1) 100%
  );
}

.h1 {
  font-family: "Inter", sans-serif;
}

#root {
  background: #bef264;
  min-width: 340px;
}
